*{
    margin: 0;
    padding: 0;
}
.main{
    height: 800px;
    width: 100%;
    background-image: url("https://media.istockphoto.com/id/157681198/photo/dandelion-seed.jpg?s=612x612&w=is&k=20&c=Q3k5xbHCalBv1u5eAbLtDZp5AtiL0LdFcpHQy1-ap_4=");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
}

.main #logo img{
    height: 100px;
    width: 100px;
    border: 1px solid goldenrod;
    border-radius: 100%;
    position: absolute;
    top: 10px;
    left: 20px;
}
.nav #b{
    height: 10px;
    width: 50px;
    color: rgb(8, 8, 8);
    position: absolute;
    top: 50px;
    left: 700px;
    font-size: 18px;
    font-weight: 500;
    
}
.nav #c{
    height: 10px;
    width: 50px;
    color: rgb(8, 8, 8);
    position: absolute;
    top: 50px;
    left: 800px;
    font-size: 18px;
    font-weight: 500;
    
}
.nav #d{
    height: 10px;
    width: 50px;
    color: rgb(8, 8, 8);
    position: absolute;
    top: 50px;
    left: 900px;
    font-size: 18px;
    font-weight: 500;
    
}
.nav #e{
    height: 10px;
    width: 80px;
    color: rgb(8, 8, 8);
    position: absolute;
    top: 50px;
    left: 1000px;
    font-size: 18px;
    font-weight: 500;
    
}
.login a{
    height: 30px;
    width: 80px;
    background-color: gold;
    color: rgb(8, 8, 8);
    border: 2px solid black;
    border-radius: 5%;
    padding: 2px 3px 2px 3px ;
    position: absolute;
    top: 40px;
    left: 1100px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.box{
    height: 500px;
    width: 500px;
    background: transparent;
    border: 2px solid gray ;
    border-radius: 5%;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
    left: -300px;
}
.box #input{
    height: 30px;
    width: 100px;
    color: #0e0e0f;
    font-size: 20px;
    font-weight: 700;
}
.box #label1{
    height: 20px;
    width: 100px;
    color: rgb(10, 10, 10);
    font-size: 20px;
    position: absolute;
    top: 50px;
    left: 50px;
}
.box .email{
    height: 30px;
    width: 250px;
    border: 1px outset grey;
    border-radius: 5%;
    background-color: aliceblue;
    position: absolute;
    top: 40px;
    left: 150px;
}
.box #label2{
    height: 20px;
    width: 100px;
    color: rgb(10, 10, 10);
    font-size: 20px;
    position: absolute;
    top: 110px;
    left: 50px;
}
.box #bb{
    height: 30px;
    width: 250px;
    border: 1px outset grey;
    border-radius: 5%;
    background-color: aliceblue;
    position: absolute;
    top: 110px;
    left: 150px;
}
.box #checkbox{
    height: 20px;
    width: 100px;
    color: rgb(10, 10, 10);
    font-size: 20px;
    position: absolute;
    top: 180px;
    left: 10px;
}
.box #label3{
    height: 20px;
    width: 200px;
    color: rgb(10, 10, 10);
    font-size: 20px;
    position: absolute;
    top: 180px;
    left: 80px;
}
.box #forgot{
    height: 20px;
    width: 200px;
    color: rgb(10, 10, 10);
    font-size: 20px;
    position: absolute;
    top: 180px;
    left: 250px;
}
.box #submit{
    height: 40px;
    width: 400px;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    left: 40px;
    top: 250px;
}
.box #label4{
    height: 20px;
    width: 200px;
    color: rgb(161, 156, 156);
    font-size: 20px;
    position: absolute;
    top: 350px;
    left: 50px;
}
.box #register{
    height: 20px;
    width: 200px;
    color: rgb(14, 13, 13);
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    top: 355px;
    left: 200px;
}
